body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

#post-image {
    width: 30%;
    float: left;
    margin: 0 10px 10px 0;
}

.post-preview img {
    max-width: 30%;
    height: auto!important;
    float: left;
    margin: 0 10px 10px 0;
}

.post-admin-block:hover {
    background: #eaeaea;
}

.post-admin-block {
    padding: 10px 0 10px 10px;
}

.post-admin-block a {
    text-decoration: none;
    font-size: 1.7rem;
}

.categories-sidebar li:hover{
    background: #d6d6d6;
}

.categories-sidebar li {
    color: #333;
}

.categories-sidebar a:hover {
    text-decoration: none;
}

.categories-sidebar {
    overflow: auto;
    max-height: 200px;
}

.post-preview button a {
    color: black;
}

.liked-icon {
    font-size: 2.1rem;
    color: black;
}

.unliked-icon {
    font-size: 2.1rem;
    color: #496ba3;
}

.like-block {
    position: absolute;
    right: 20px;
}